@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');


@font-face{
  font-family: myFont;
  src: url(/ristretto.otf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: myFont; 
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, p{
  font-family: myFont;
}

* {
  box-sizing: border-box;
}

.logoText{
  font-family: 'Zen Dots', cursive;
}